.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

input {
  padding: 10px;
  margin: 20px;
  width: 300px;
}

div {
  margin: 10px 0;
}

img {
  margin-top: 10px;
}
.container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.subContainer {
  margin: 10px 20px;
}
